* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: justify;
}

/* Header */
header {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Navegação */
.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff0000;
}

/* Descrição */
.descricao {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.descricao h2, .descricao h3 {
    color: #cc0909;
}

/* Formulário */
.formulario {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.formulario label {
    display: block;
    margin: 10px 0 5px;
}

.formulario input,
.formulario textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cta-button {
    background-color: #b30707;
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
    cursor: pointer;
}

.cta-button:hover {
    background-color: #ff0606;
}

/* Informações de Contato */
.informacoes-contato {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Mapa */
.mapa {
    margin: 20px;
}

/* Redes Sociais */
.redes-sociais {
    margin: 20px;
}

.redes-sociais a {
    display: inline-block;
    margin: 0 10px;
    color: #b30707;
    text-decoration: none;
}

.redes-sociais a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    line-height: 1.5;
    margin-top: 30px; /* Adicionando margem superior ao rodapé */
    bottom: 0;
    width: 100%;
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .navbar ul.active {
        display: flex;
    }

    .menu-toggle {
        cursor: pointer;
        display: block;
    }
}
