/* Reset e configurações gerais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: justify;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garantir que o body ocupe a altura total da tela */
}


/* Header */
header {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}

/* Menu Hambúrguer */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px 0;
    transition: 0.3s;
}

/* Navbar */
.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.navbar ul.open {
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff0000;
}

/* Descrição */
.descricao {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.descricao h2, .descricao h3 {
    color: #cc0909;
}

/* Galeria */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Colunas flexíveis */
    gap: 10px; /* Espaço entre os itens */
}

.produto-item {
    background-color: #fff;
    margin: 0; /* Remover margens externas */
    padding: 10px; /* Menos preenchimento */
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.produto-item:hover {
    transform: scale(1.05);
}

.produto-item img {
    max-width: 100%;
    height: 200px; /* Altura ajustada para melhor visualização */
    object-fit: cover; 
    border-radius: 10px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    text-align: center;
    border-radius: 10px;
}

.modal-imagem {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos básicos para o modal */
#modal {
    display: none; /* Inicialmente oculto */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

#modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 600px;
    overflow-y: auto; /* Adiciona rolagem no caso de descrição longa */
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal-title {
    font-size: 1.5em;
}

#close-btn {
    cursor: pointer;
}

#modal-description {
    margin-top: 20px;
    text-align: left; /* Deixar o texto da descrição alinhado à esquerda */
}

/* Categoria */
.category {
    cursor: pointer;
    padding: 10px;
    margin: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

.category:hover {
    background-color: #e0e0e0;
}


/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    line-height: 1.5;
    margin-top: 30px; /* Adicionando margem superior ao rodapé */
}

/* Redes Sociais */
.social-media {
    margin-top: 15px;
}

.social-icon {
    width: 30px;
    margin: 0 10px;
}
.social-media a {
    color: black; /* Define a cor dos links como preta */
    text-decoration: none; /* Remove o sublinhado dos links, se desejar */
}

.social-media a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse, se desejar */
}

/* Responsividade */
@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        padding: 10px 0;
    }

    .navbar.active ul {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .logo-img {
        width: 80px;
        height: 80px;
    }

    #navbarNav {
        display: none; /* Esconder o menu normal */
        flex-direction: column; /* Colocar os itens em coluna */
        position: absolute; /* Posicionar sobre o conteúdo */
        top: 60px; /* Ajustar conforme a altura do header */
        left: 0;
        right: 0;
        background-color: #000; /* Fundo do menu */
        z-index: 1000; /* Garantir que o menu fique acima de outros elementos */
        padding: 10px 0; /* Adicionar algum espaço */
    }

    .menu-toggle {
        display: flex; /* Mostrar o botão hamburger */
    }

    /* Mostrar o menu quando a classe 'open' é adicionada ao navbar */
    .navbar.open #navbarNav {
        display: flex; /* Mostrar o menu */
    }

    .galeria {
        grid-template-columns: repeat(2, 1fr); /* Duas colunas em telas menores */
    }

    .produto-item img {
        height: auto; /* Altura menor em telas menores */
    }
}

@media (max-width: 480px) {
    .galeria {
        grid-template-columns: 1fr; /* Uma coluna */
    }

    .cta-button {
        width: 100%; /* Botão ocupa toda a largura */
    }

    /* Ajustes no modal para telas pequenas */
    #modal-content {
        width: 90%; /* Modal ocupar 90% da largura da tela */
        max-width: none; /* Remove a largura máxima, permitindo que o modal ocupe mais espaço */
        padding: 15px; /* Menos preenchimento */
    }

    #modal-description {
        font-size: 0.9em; /* Menor tamanho de fonte para dispositivos móveis */
    }
}

h2, h3 {
    margin: 20px 0;
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

.instagram-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto */
}

.instagram-link {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #cc0909; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto */
    border-radius: 5px; /* Bordas arredondadas */
    text-decoration: none; /* Remove underline */
    transition: background-color 0.3s;
}

.instagram-link:hover {
    background-color: #ff0000; /* Cor ao passar o mouse */
}

img {
    max-width: 100%; /* Para que as imagens não excedam a largura do container */
    height: auto; /* Para manter a proporção */
}

.footer-info a {
    color: white; /* Define a cor dos links como branca */
    text-decoration: none; /* Remove o sublinhado dos links, se desejar */
}

.footer-info a:hover {
    text-decoration: underline; /* Adiciona sublinhado ao passar o mouse, se desejar */
}
