/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

header {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 120px;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.navbar {
    display: flex;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover,
.navbar a.active {
    color: #ff0000;
}

.descricao {
    padding: 20px;
    margin: 20px;
}

.galeria {
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.produto-item {
    background-color: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s, background-color 0.3s;
    width: calc(48% - 20px);
}

.produto-item:hover {
    transform: scale(1.05);
    background-color: #f8f8f8; /* Leve mudança de cor ao passar o mouse */
}

.produto-item img {
    width: 180px;
    height: auto;
}

.contatos {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.contato-item {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 45%;
    text-align: center;
}

.contato-icon {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

.whatsapp-link, .instagram-link {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s, transform 0.3s;
}

.whatsapp-link {
    background-color: #25d366;
    color: white;
}

.whatsapp-link:hover {
    background-color: #1da951;
    transform: scale(1.05);
}

.instagram-link {
    background-color: #c32aa3;
    color: white;
}

.instagram-link:hover {
    background-color: #9b007f;
    transform: scale(1.05);
}

.descricao h2 {
    color: #cc0909;
}

h2, h3 {
    margin: 20px 0;
}

p {
    margin: 10px 0;
    line-height: 1.6;
}

footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    line-height: 1.5;
    margin-top: 30px;
    border-top: 1px solid #444;
}

.social-media {
    margin-top: 15px;
}

.social-icon {
    width: 30px;
    margin: 0 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .produto-item {
        width: calc(45% - 20px);
    }
}

@media (max-width: 480px) {
    .produto-item {
        width: 100%;
    }
}

        .caixa-texto {
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 8px;
            padding: 15px;
            margin: 20px 0;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
        @media (max-width: 480px) {
            .galeria {
                grid-template-columns: 1fr; /* Uma coluna */
            }
        
            .cta-button {
                width: 100%; /* Botão ocupa toda a largura */
            }
        }
        @media (max-width: 768px) {
            .navbar ul {
                display: none; /* Oculta o menu */
                flex-direction: column; /* Exibe em coluna */
            }
        
            .navbar ul.active {
                display: flex; /* Exibe o menu quando ativo */
            }
            .contatos {
                flex-direction: column; /* Muda a direção para coluna em telas menores */
                align-items: center; /* Centraliza os itens */
            }
        
            .contato-item {
                width: 100%; /* Faz os itens ocuparem toda a largura */
                text-align: center; /* Centraliza o texto */
                margin-bottom: 20px; /* Adiciona espaço entre os itens */
            }
        
            .contato-texto {
                flex-direction: column; /* Muda a direção para coluna para os textos */
            }
        
            .whatsapp-link, .instagram-link {
                margin-left: 0; /* Remove a margem em telas pequenas */
                margin-top: 5px; /* Adiciona um espaço entre o título e o botão */
            }
            .galeria {
                grid-template-columns: repeat(2, 1fr); /* Duas colunas */
            }
        
            .produto-item img {
                height: auto; /* Mantém proporção */
            }
        }
    
       
        img {
            max-width: 100%; /* Para que as imagens não excedam a largura do container */
            height: auto; /* Para manter a proporção */
        }
        