* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif; /* Fonte mais comercial */
    background-color: #f0f0f0;
    color: #333;
    text-align: justify; /* Justificando o texto */
}

/* Header */
header {
    background-color: #000;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-img {
    width: 120px; /* Largura da logo */
    height: 120px; /* Altura igual à largura para manter a proporção */
    border-radius: 50%; /* Tornando a imagem circular */
    object-fit: cover; /* Para garantir que a imagem se ajuste corretamente */
}

/* Navegação */
.navbar {
    display: flex;
    justify-content: flex-end;
}

.navbar ul {
    list-style: none;
    display: flex;
}

.navbar li {
    margin: 0 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar a:hover {
    color: #ff0000;
}

/* Descrição */
.descricao {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.descricao h2 {
    color: #cc0909;
}

/* CSS para a seção de serviços */
.servicos {
    padding: 20px;
    background-color: #fff;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.servicos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Cria um layout de grade responsivo */
    gap: 20px; /* Espaçamento entre os itens da grade */
    padding: 20px;
}

.servico-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centraliza o texto dentro do card */
}

.servico-img {
    width: 100%; /* Ajusta a imagem para ocupar toda a largura disponível */
    height: auto; /* Mantém a proporção da imagem */
    border-radius: 10px; /* Arredondando os cantos da imagem */
}


.accordion {
    margin-top: 20px;
}

.accordion-item {
    margin-bottom: 10px;
}

.accordion-header {
    background-color: #f0f0f0;
    padding: 15px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.arrow {
    transition: transform 0.3s;
}

.accordion-header.active .arrow {
    transform: rotate(180deg); /* Para rotacionar a seta */
}
.accordion-body {
    display: none; /* Esconder conteúdo por padrão */
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
}

.accordion-body img {
    max-width: 100%; /* Ajusta a imagem ao tamanho do contêiner */
    height: auto;
}

.whatsapp-link {
    display: inline-block;
    margin-top: 20px;
    background-color: #25D366; /* Cor do WhatsApp */
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
}

.whatsapp-link:hover {
    background-color: #128C7E; /* Cor de hover */
}

h2, h3 {
    margin: 20px 0; /* Margem superior e inferior para os títulos */
}

.panel {
    display: none; /* Oculta o painel inicialmente */
    padding: 0 15px;
    background-color: #f1f1f1;
    border-radius: 5px;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
    line-height: 1.5;
    margin-top: 30px; /* Adicionando margem superior ao rodapé */
    bottom: 0;
    width: 100%;
}

.social-media {
    margin-top: 15px; /* Adicionando espaço entre o texto e as redes sociais */
}

.social-icon {
    width: 30px;
    margin: 0 10px; /* Espaço entre as imagens das redes sociais */
}

@media (max-width: 768px) {
    .navbar ul {
        display: none;
        flex-direction: column;
        background-color: #000;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .navbar ul.active {
        display: flex;
    }

    .menu-toggle {
        cursor: pointer;
        display: block;
    }
}

p {
    margin: 10px 0; /* Margem superior e inferior para os parágrafos */
    line-height: 1.6; /* Aumentando o espaçamento entre as linhas */
}

.cta {
    text-align: center;
    margin: 20px;
}

.cta-button {
    background-color: #b30707; /* Vermelho escuro */
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s; /* Adicionando transição para transformação */
    margin-bottom: 20px; /* Aumentando a margem inferior do botão */
}

.cta-button:hover {
    background-color: #ff0606; /* Vermelho claro */
    transform: scale(1.05); /* Aumenta levemente o botão ao passar o mouse */
}
